configure.ac filter=lfs diff=lfs merge=lfs -text
Makefile.am filter=lfs diff=lfs merge=lfs -text
config.h filter=lfs diff=lfs merge=lfs -text
patches filter=lfs diff=lfs merge=lfs -text
README.android.md filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
egl filter=lfs diff=lfs merge=lfs -text
m4 filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
cursor filter=lfs diff=lfs merge=lfs -text
import_official_snapshot.py filter=lfs diff=lfs merge=lfs -text
wayland-scanner.m4 filter=lfs diff=lfs merge=lfs -text
wayland-scanner.mk filter=lfs diff=lfs merge=lfs -text
COPYING filter=lfs diff=lfs merge=lfs -text
meson_options.txt filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
releasing.txt filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
meson.build filter=lfs diff=lfs merge=lfs -text
publish-doc filter=lfs diff=lfs merge=lfs -text
protocol filter=lfs diff=lfs merge=lfs -text
autogen.sh filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_MIT filter=lfs diff=lfs merge=lfs -text
PREUPLOAD.cfg filter=lfs diff=lfs merge=lfs -text
